# Laravel / PHP
**/vendor/
**/.env
**/.env.*
**/storage/*.key
**/public/storage
**/storage/logs/*
**/storage/framework/*
!**/storage/.gitignore
!**/storage/framework/.gitignore
!**/storage/logs/.gitignore

# Node
**/node_modules/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
